{{ $backgroundImage := "" }}
{{ $backgroundImageAlt := "" }}
{{ $blendMode := "" }}
{{ $foregroundImage := "" }}
{{ $foregroundImageAlt := "" }}
{{ $justifyContent := "justify-content-start" }}
{{ $cols := "col-xl-10" }}
{{ $padding := "py-8" }}
{{ $thickBorder := false }}
{{ $ctas := "buttons" }}
{{ $showNumber := false }}
{{ $section := "" }}
{{ $contentContainer := "" }}
{{ $heading := "display-2 wvu-shout" }}
{{ $lead := "lead" }}
{{ $body := "" }}
{{ $buttons := "btn-primary" }}
{{ $firstButton := "" }}
{{ $list := "wvu-ul-chevrons" }}

{{ if and .background_image .background_image.image }}{{ $backgroundImage = .background_image.image }}{{ end }}
{{ if and .background_image .background_image.alt }}{{ $backgroundImageAlt = .background_image.alt }}{{ end }}
{{ if and .foreground_image .foreground_image.image }}{{ $foregroundImage = .foreground_image.image }}{{ end }}
{{ if and .foreground_image .foreground_image.alt }}{{ $foregroundImageAlt = .foreground_image.alt }}{{ end }}

<main class="position-relative {{ $section }}">
  {{ if eq .layout.show_number true }}
    <div class="display-0 wvu-shout wvu-text-outline text-wvu-gold position-absolute wvu-z-index-max" style="font-size: 30rem !important; bottom: 0;">
      <p class="ms-n4 mb-n5">14</p>
    </div>
  {{ end }}
  {{ partial "bookshop_partial" (slice "section-foreground" (dict "image" $foregroundImage "align" $justifyContent "alt" $backgroundImageAlt)) }}
  <div class="{{ $padding }} position-relative {{ if eq .styles.thick_border true }}m-6{{ end }}">
    {{ partial "bookshop_partial" (slice "section-background" (dict "image" $backgroundImage "blendMode" $blendMode "alt" $foregroundImageAlt)) }}
    <!--
    <div class="wvu-bg-img">
      <div class="position-absolute w-50 h-100 d-flex justify-content-start align-items-end" style="left: 50%">
        <div class="wvu-light-angle-blur-accent--sunset"></div>
      </div>
    </div>
    -->
    <div class="container wvu-z-index-content">
      <div class="row {{ $justifyContent }}">
        <div class="{{ $cols }}">
          <div class="">
            <h1 class="{{ $heading }} mb-4" data-content="{{ .heading }}">{{ .heading }}</h1>
            {{ if .lead }}
              <p class="{{ $lead }}">{{ .lead }}</p>
            {{ end }}
            {{ if .body }}
              <div class="{{ $body }} mb-4">
                {{ .body | markdownify }}
              </div>
            {{ end }}
            {{ partial "bookshop" (slice "simple/ctas" .ctas) }}
            {{ if .postscript }}
              {{ .postscript | markdownify }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>