{{ define "main" }}
  <header class="bg-wvu-blue">
    {{ partial "header" . }}
  </header>
  <header>
    <div class="container">
      <h1>{{ .Page.Title }}</h1>
    </div>
  </header>
  <main class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="sticky-top pt-5 mt-n5">
            Jump Links
          </div>
        </div>
        <div class="col-12">
          {{ partial "bookshop_bindings" `.Params.detail_blocks` }}
          {{ partial "bookshop_partial" (slice "page" .Params.detail_blocks) }}
        </div>
        <div class="col-6">
          Sidebar
        </div>
      </div>
    </div>
  </main>
  {{ partial "footer" . }}
{{ end }}