<blockquote class="mb-5 border-0 ms-0 ps-0">
  <p class="iowan-old-style h1 border-start border-2 border-wvu-gold ps-4 ms-0 mb-4">{{ .text }}</p>
  <footer class="helvetica-neue">
    <div class="row">
      <div class="col d-flex align-items-center">
        <img class="rounded-circle bg-light img-fluid p-4 me-1" alt="" />
        <p class="mb-0">Firstname Lastname<span class="d-block text-muted">Title, Organization</span></p>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <a class="btn btn-outline-dark" href="#">More About Firstname <span class="fa-regular fa-arrow-right"></span></a>
      </div>
    </div>
  </footer>
</blockquote>