<section class="d-flex w-100 align-items-start position-relative wvu-z-index-breadcrumbs">
  <div class="wvu-bg-filter-blur position-absolute w-100 border-bottom border-1 border-light">
    <div class="container">
      <p class="helvetica-neue-condensed-black wvu-text-letter-spacing-lg h6 text-uppercase text-wvu-gold mt-3">Undergraduate Admissions</p>
      <ul class="list-unstyled row">
        <li class="col position-relative pt-6 pb-3"><a class="stretched-link text-decoration-none text-white oliviar-black">How to Apply</a></li>
        <li class="col position-relative pt-6 pb-3"><a class="stretched-link text-decoration-none text-white oliviar-black">How to Apply</a></li>
      </ul>
    </div>
  </div>
</section>