<section>
  <div class="container">
    <h2>Page Collection Test</h2>
    <p>{{ .text }}</p>
    <div class="row">
      {{ if site.Params.env_bookshop_live }}
        {{ range .page_collection_items }} 
          <div class="col">
            {{ partial "bookshop_partial" (slice "collection-item-placeholder" .) }}
          </div>
        {{ end }}
      {{ else }}
        {{ range .page_collection_items }}          
          {{ $page := replace .page "content/" "" }}
          {{ with site.GetPage $page }}
            <div class="col">
              <h3>{{ .Title }}</h3>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
      {{ range site.RegularPages }}
        {{ .RelPermalink }}
      {{ end }}
    </div>
  </div>
</section>