<section>
  <div class="container">
    <h2>Page Collection Test</h2>
    <p>{{ .text }}</p>
    <div class="row">
      {{ if site.Params.env_bookshop_live }}
        <p>I am being edited live! Test.</p>
      {{ else }}
        {{ range .page_collection_items }}          
          {{ $page := replace .page "content/" "" }}
          {{ with site.GetPage $page }}
            <div class="col">
              <h3>{{ .Title }}</h3>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>