<section class="py-10 bg-wvu-neutral--warm-gray-light bg-opacity-25">
  <div class="container">
    <div class="row">
      <div class="col-xxl-8 position-relative">
        <h2 class="wvu-shout display-4 d-inline-block">
          <div style="width: 150px;">
            <div class="d-block wvu-gradient-sunset-gold wvu-bleed-left mb-3" style="height: 2px; content: '';"></div>
          </div>
          Quicklinks
        </h2>
      </div>
      <div class="col-xxl-16">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="border-0 border-bottom-1 border-dark bg-transparent nav-link active text-dark" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Future Undergrads</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="border-0 border-bottom-1 border-dark border-opacity-50 nav-link text-dark" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Future Grads</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="border-0 border-bottom-1 border-dark border-opacity-50 nav-link text-dark" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Current Students</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="border-0 border-bottom-1 border-dark border-opacity-50 nav-link text-dark" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#faculty-and-staff-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Faculty and Staff</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active py-4" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <ul class="wvu-ul-chevrons wvu-column-count-lg-3">
              <li><a class="text-decoration-none text-dark" href="https://housing.wvu.edu/apply-for-housing">Apply for Housing</a></li>
              <li><a class="text-decoration-none text-dark" href="https://admissions.wvu.edu/how-to-apply">Apply to WVU</a></li>
              <li><a class="text-decoration-none text-dark" href="https://studentaccounts.wvu.edu/billing">Billing / Pay Tuition</a></li>
              <li><a class="text-decoration-none text-dark" href="https://wvu.bncollege.com/">WVU Bookstore</a></li>
              <li><a class="text-decoration-none text-dark" href="https://provost.wvu.edu/academic-calendar">Calendar (Academic)</a></li>
              <li><a class="text-decoration-none text-dark" href="https://cal.wvu.edu/">Calendar</a></li>
              <li><a class="text-decoration-none text-dark" href="https://visit.wvu.edu/tours">Campus Tours</a></li>
              <li><a class="text-decoration-none text-dark" href="http://courses.wvu.edu">Course Schedule</a></li>
              <li><a class="text-decoration-none text-dark" href="http://catalog.wvu.edu/">Courses</a></li>
              <li><a class="text-decoration-none text-dark" href="https://diningservices.wvu.edu/nutrition/dining-plans-bite">Dining Menus</a></li>
              <li><a class="text-decoration-none text-dark" href="https://directory.wvu.edu/">Directory</a></li>
              <li><a class="text-decoration-none text-dark" href="https://ecampus.wvu.edu/">eCampus</a></li>
              <li><a class="text-decoration-none text-dark" href="https://studentaccounts.wvu.edu/refunds">Get Your Refund</a></li>
              <li><a class="text-decoration-none text-dark" href="https://www.wvu.edu/academics/programs?hepcLevel=masters,doctoral,doctoralresearch,doctoralprofessionalpractice&amp;type=&amp;pathway=&amp;college=&amp;campus=morgantown&amp;q=">Graduate Programs</a></li>
              <li><a class="text-decoration-none text-dark" href="https://it.wvu.edu/">Information Technology Services</a></li>
              <li><a class="text-decoration-none text-dark" href="https://lib.wvu.edu/">Libraries</a></li>
              <li><a class="text-decoration-none text-dark" href="https://www.wvu.edu/academics/programs">Majors<span class="u-wvu-visually-hidden">: WVU Morgantown</span></a></li>
              <li><a class="text-decoration-none text-dark" href="https://mentalhealth.wvu.edu/">Mental Health Resources</a></li>
              <li><a class="text-decoration-none text-dark" href="https://wvu.atlassian.net/servicedesk/customer/portal/34/article/299336103">Mountie Bounty Deposits</a></li>
              <li><a class="text-decoration-none text-dark" href="https://portal.wvu.edu/staff">MyAccess</a></li>
              <li><a class="text-decoration-none text-dark" href="http://office365.wvu.edu/">Office 365 Login</a></li>
              <li><a class="text-decoration-none text-dark" href="https://housing.wvu.edu/housing-options/residence-halls">Explore Residence Halls</a></li>
              <li><a class="text-decoration-none text-dark" href="https://wvu.bncollege.com">Shop for WVU Gear</a></li>
              <li><a class="text-decoration-none text-dark" href="https://talentandculture.wvu.edu">Talent and Culture</a></li>
              <li><a class="text-decoration-none text-dark" href="https://titleix.wvu.edu/">Title IX</a></li>
              <li><a class="text-decoration-none text-dark" href="http://registrar.wvu.edu/transcripts">Transcripts</a></li>
              <li><a class="text-decoration-none text-dark" href="https://careers.wvu.edu/">WVU Careers</a></li>
              <li><a class="text-decoration-none text-dark" href="https://portal.wvu.edu/">WVU Portal</a></li>
              <li><a class="text-decoration-none text-dark" href="http://wvusports.com/">WVU Sports</a></li>
              <li><a class="text-decoration-none text-dark" href="http://wvutoday.wvu.edu/">WVUToday</a></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

          </div>
          <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

          </div>
          <div class="tab-pane fade" id="faculty-and-staff-tab-pane" role="tabpanel" aria-labelledby="faculty-and-staff-tab" tabindex="0">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>