<ul class="list-unstyled">
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/">Home</a></li>
</ul>
<h2 class="h6 px-4 py-1">Technical Documentation</h2>
<ul class="list-unstyled">
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="">Getting Started</a></li>
</ul>
<h2 class="h6 px-4 py-1">Page Types</h2>
<ul class="list-unstyled">
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/home-page">Home Page</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/detail-page">Detail Page</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/guide-page">Guide Page</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/article-page">Article Page</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/news-page">News Page</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/pathway-page">Pathway Page</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/profile-page">Profile Page</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/directory-page">Directory Page</a></li>
</ul>
<h2 class="h6 px-4 py-1">Vibes</h2>
<ul class="list-unstyled">
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/vibes/the-wvu-experience">The WVU Experience</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/vibes/down-to-business">Down to Business</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/vibes/discovery">Discovery</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/vibes/nostalgic">Nostalgic</a></li>
</ul>
<h2 class="h6 px-4 py-1">Utilities</h2>
<ul class="list-unstyled">
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/color">Color</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/typography">Typography</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/elements">Elements</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/background-layers">Background Layers</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/connectors-and-transitions">Connectors and Transitions</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/lists">Lists</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/containers">Containers</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/dividers-and-extenders">Dividers and Extenders</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/tables">Tables</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/z-index">Z-Index</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/putting-it-all-together">Putting It All Together</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/utilities/utilities-cheat-sheet">Utilities Cheat Sheet</a></li>
</ul>
<h2 class="h6 px-4 py-1">Navigation</h2>
<ul class="list-unstyled">
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/navigation/primary">Primary</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/navigation/school">School</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/navigation/secondary">Secondary</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/navigation/secondary">Pathway</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/navigation/sidebar">Sidebar</a></li>
</ul>
<h2 class="h6 px-4 py-1">Headers</h2>
<ul class="list-unstyled">
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="">Header - Default</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="">Header - Article</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="">Header - Guide</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="">Header - Profile</a></li>
</ul>
<h2 class="h6 px-4 py-1">Content Chunks</h2>
<ul class="list-unstyled">
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/components/hero">Hero</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/components/call-to-action">Call to Action</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/components/quicklinks">Quicklinks</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/components/profile">Profile</a></li>
  <li><a class="d-block px-4 py-1 text-dark text-decoration-none" href="/guidelines/program-listing">Program Listing</a></li>
</ul>