<section class="py-0">
  <div class="container mt-n9">
    <div class="row gx-4">
      <div class="col-12 mx-auto text-center">
        <div class="bg-white shadow-sm h-100 p-5 d-flex flex-column justify-content-center px-xxl-6">
          <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4">WVU Experience</h2>
          <blockquote class="ms-0 border-0 border-wvu-gold">
            <span class="d-block wvu-shout text-wvu-gold display-1 mb-n3">“</span>
            <p class="iowan-old-style fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
          </blockquote>
        </div>
      </div>
      <div class="col-12 ms-auto">
        <div class="p-5 bg-white shadow-sm w-100 h-100 position-relative">
          <div class="wvu-bg-img p-5">
            <div class="bg-wvu-accent--blue-light h-100">
              <img class="h-100 w-100 object-fit wvu-bg-blend-mode-screen wvu-bg-filter-grayscale" src="/uploads/downtown-bg.jpg" />
            </div>
          </div>
          <div class="h-100 position-relative">
            <div class="w-100 h-100">
              <div class="row h-100">
                <div class="col-xxl-7">
                  <div class="bg-dark text-white p-3 mt-3 ms-n6">
                    <h3 class="iowan-old-style-black-italic h5">Jillian Blair</h3>
                    <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                  </div>
                  <div class="wvu-bg-filter-blur border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6">
                    <h3 class="iowan-old-style-black-italic h5">Jillian Blair</h3>
                    <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                  </div>
                </div>
                <div class="col-xxl-17 mx-xxl-auto d-flex align-items-end"><img class="img-fluid mb-n5 mt-n6" src="/uploads/jillian-cutout.webp" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-0 mt-6">
  <div class="container">
    <div class="d-inline-block mb-n5 ms-n5 position-relative d-inline-flex align-items-center">
      <div class="d-block bg-wvu-accent--blue wvu-bleed-left" style="height: 1px; content: '';"></div>
      <h2 class="oliviar-black-italic text-wvu-accent--blue mb-n1 px-3 py-4 bg-white border border-1 border-wvu-accent--blue border-solid">Are you up for the challenge?</h2>
    </div>
    <div class="row gx-4">
      <div class="col-12 mx-auto text-center">
        <div class="bg-light h-100 p-5 d-flex flex-column justify-content-center px-xxl-6">
          <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4">WVU Experience</h2>
          <blockquote class="ms-0 border-0 border-wvu-gold">
            <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
            <p class="oliviar-black fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
          </blockquote>
        </div>
      </div>
      <div class="col-12 ms-auto">
        <div class="p-5 bg-light w-100 h-100 position-relative">
          <div class="wvu-bg-img p-5">
            <div class="bg-wvu-accent--sunset h-100">
              <img class="h-100 w-100 object-fit wvu-bg-blend-mode-screen wvu-bg-filter-grayscale" src="/uploads/downtown-bg.jpg" />
            </div>
          </div>
          <div class="h-100 position-relative">
            <div class="w-100 h-100">
              <div class="row h-100">
                <div class="col-xxl-7">
                  <div class="bg-wvu-accent--blue text-white p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                    <h3 class="oliviar-black h5 text-wvu-accent--yellow">Jillian Blair</h3>
                    <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                  </div>
                  <div class="bg-wvu-accent--yellow border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                    <p class="small mb-0">Davis College of Agriculture and Natural Resources</p>
                  </div>
                  <div class="bg-wvu-accent--yellow border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                    <p class="small mb-0">Education Abroad</p>
                  </div>
                </div>
                <div class="col-xxl-17 mx-xxl-auto d-flex align-items-end"><img class="img-fluid mb-n5 mt-n6" src="/uploads/jillian-cutout.webp" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-0 mt-6">
  <div class="container">
    <div class="row gx-4">
      <div class="col-12 mx-auto text-center">
        <div class="bg-wvu-accent--yellow h-100 p-5 d-flex flex-column justify-content-center px-xxl-6">
          <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4">WVU Experience</h2>
          <blockquote class="ms-0 border-0 border-wvu-gold">
            <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
            <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
          </blockquote>
        </div>
      </div>
      <div class="col-12 ms-auto">
        <div class="p-5 bg-wvu-accent--blue w-100 h-100 position-relative">
          <div class="h-100 position-relative">
            <div class="w-100 h-100">
              <div class="row h-100">
                <div class="col-xxl-7">
                  <div class="wvu-bg-img">
                    <div class="wvu-bg-topo-light bg-wvu-accent--blue-light h-100 wvu-z-index-pattern">
                    </div>
                  </div>
                  <div class="wvu-z-index-content position-relative">
                    <div class="bg-wvu-accent--sunset text-white p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <h3 class="oliviar-black h5 text-wvu-neutral--cream">Jillian Blair</h3>
                      <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Davis College of Agriculture and Natural Resources</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Education Abroad</p>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-17 mx-xxl-auto d-flex align-items-end wvu-z-index-content"><img class="img-fluid mb-n5 mt-n6" src="/uploads/jillian-cutout.webp" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-0 mt-6">
  <div class="container">
    <div class="row gx-4">
      <div class="col-12 mx-auto text-center">
        <div class="bg-wvu-neutral--warm-gray-light bg-opacity-25 h-100 p-5 px-xxl-6 position-relative">
          <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4 wvu-text-vertical ms-n6">WVU Experience</h2>
          <div class="d-flex align-items-center h-100">
            <blockquote class="ms-0 border-0 border-wvu-gold">
              <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
              <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-12 ms-auto">
        <div class="p-5 bg-wvu-neutral--warm-gray-light bg-opacity-25 w-100 h-100 position-relative">
          <div class="h-100 position-relative">
            <div class="w-100 h-100">
              <div class="row h-100">
                <div class="col-xxl-7">
                  <div class="wvu-bg-img bg-wvu-neutral--warm-gray-light bg-opacity-25">
                    <div class="wvu-bg-topo-light bg-wvu-neutral--warm-gray-light h-100 wvu-z-index-pattern">
                    </div>
                  </div>
                  <div class="wvu-z-index-content position-relative">
                    <div class="bg-wvu-accent--sunset text-white p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <h3 class="oliviar-black h5 text-wvu-neutral--cream">Jillian Blair</h3>
                      <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Davis College of Agriculture and Natural Resources</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Education Abroad</p>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-17 mx-xxl-auto d-flex align-items-end wvu-z-index-content"><img class="img-fluid mb-n5 mt-n6" src="/uploads/jillian-cutout.webp" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-0 mt-6">
  <div class="container">
    <div class="row gx-4">
      <div class="col-12 mx-auto text-center">
        <div class="bg-wvu-neutral--warm-gray-light bg-opacity-25 h-100 p-5 px-xxl-6 position-relative">
          <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4 wvu-text-vertical ms-n6">WVU Experience</h2>
          <div class="d-flex align-items-center h-100">
            <blockquote class="ms-0 border-0 border-wvu-gold">
              <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
              <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-12 ms-auto">
        <div class="p-5 bg-wvu-neutral--warm-gray-light bg-opacity-25 w-100 h-100 position-relative">
          <div class="h-100 position-relative">
            <div class="w-100 h-100">
              <div class="row h-100">
                <div class="col-xxl-7">
                  <div class="wvu-bg-img wvu-gradient-warm-gray-light-warm-gray-medium bg-opacity-10">
                    <div class="wvu-bg-topo-light  h-100 wvu-z-index-pattern">
                    </div>
                  </div>
                  <div class="wvu-z-index-content position-relative">
                    <div class="bg-wvu-accent--sunset text-white p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <h3 class="oliviar-black h5 text-wvu-neutral--cream">Jillian Blair</h3>
                      <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Davis College of Agriculture and Natural Resources</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Education Abroad</p>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-17 mx-xxl-auto d-flex align-items-end wvu-z-index-content"><img class="img-fluid mb-n5 mt-n6" src="/uploads/jillian-cutout.webp" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-0 mt-6">
  <div class="container">
    <div class="row gx-4">
      <div class="col-12 mx-auto text-center">
        <div class="bg-wvu-neutral--warm-gray-light bg-opacity-25 h-100 p-5 px-xxl-6 position-relative">
          <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4 wvu-text-vertical ms-n6">WVU Experience</h2>
          <div class="d-flex align-items-center h-100">
            <blockquote class="ms-0 border-0 border-wvu-gold">
              <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
              <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-12 ms-auto">
        <div class="p-5 bg-wvu-neutral--warm-gray-light bg-opacity-25 w-100 h-100 position-relative">
          <div class="h-100 position-relative">
            <div class="w-100 h-100">
              <div class="row h-100">
                <div class="col-xxl-7">
                  <div class="wvu-bg-img bg-wvu-neutral--warm-gray-light bg-opacity-25">
                    <div class="wvu-bg-topo-light wvu-gradient-sunset-light-blue h-100 wvu-z-index-pattern">
                    </div>
                  </div>
                  <div class="wvu-z-index-content position-relative">
                    <div class="bg-wvu-accent--sunset text-white p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <h3 class="oliviar-black h5 text-wvu-neutral--cream">Jillian Blair</h3>
                      <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Davis College of Agriculture and Natural Resources</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Education Abroad</p>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-17 mx-xxl-auto d-flex align-items-end wvu-z-index-content"><img class="img-fluid mb-n5 mt-n6" src="/uploads/jillian-cutout.webp" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-0 mt-6">
  <div class="container">
    <div class="row gx-4">
      <div class="col-12 mx-auto text-center">
        <div class="wvu-gradient-sunset-gold bg-opacity-25 h-100 p-5 px-xxl-6 position-relative">
          <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4 wvu-text-vertical ms-n6">WVU Experience</h2>
          <div class="d-flex align-items-center h-100">
            <blockquote class="ms-0 border-0 border-wvu-gold">
              <span class="d-block wvu-shout wvu-text-outline text-dark display-1 mb-n3">“</span>
              <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-12 ms-auto">
        <div class="p-5 bg-wvu-neutral--warm-gray-light bg-opacity-25 w-100 h-100 position-relative">
          <div class="h-100 position-relative">
            <div class="w-100 h-100">
              <div class="row h-100">
                <div class="col-xxl-7">
                  <div class="wvu-bg-img bg-wvu-neutral--warm-gray-light bg-opacity-25">
                    <div class="wvu-bg-topo-light wvu-gradient-warm-gray-light-warm-gray-medium h-100 wvu-z-index-pattern">
                    </div>
                  </div>
                  <div class="wvu-z-index-content position-relative">
                    <div class="bg-wvu-accent--sunset text-white p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <h3 class="oliviar-black h5 text-wvu-neutral--cream">Jillian Blair</h3>
                      <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Davis College of Agriculture and Natural Resources</p>
                    </div>
                    <div class="bg-wvu-accent--blue-light border border-1 border-dark border-opacity-10 text-dark p-3 mt-3 ms-n6 wvu-shadow-hard-dark">
                      <p class="small mb-0">Education Abroad</p>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-17 mx-xxl-auto d-flex align-items-end wvu-z-index-content"><img class="img-fluid mb-n5 mt-n6" src="/uploads/jillian-cutout.webp" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>